@import "mixins.less";

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.chart-bar-horizontal {
    display: inline-table;
    position: relative;
    margin: 10px;
}

.bar-horizontal {
    position: absolute;
}

.bar-horizontal-part {
    border-color: rgba(0,0,0,.55) rgba(0,0,0,.55) rgba(0,0,0,.75);
    border-style: solid;
    border-width: 1px;
    .chartBackground(#aaa, darken(#aaa, 4%), #333, 0 1px 1px rgba(255,255,255,.75));

    &:hover {
        .chartBackground(#bbb, darken(#cca, 8%), #333, 0 1px 1px rgba(255,255,255,.75));
    }
    text-align: center;
}

.bar-horizontal-part-top {
    border-color: rgba(0,0,0,.55) rgba(0,0,0,.55) rgba(0,0,0,.75);
    border-style: solid;
    border-width: 1px;
    .chartBackground(#aaa, darken(#aaa, 4%), #333, 0 1px 1px rgba(255,255,255,.75));
    .rounded-top-corners(4px);

    &:hover {
        .chartBackground(#bbb, darken(#cca, 8%), #333, 0 1px 1px rgba(255,255,255,.75));
    }
    text-align: center;
}

.bar-horizontal-part .text {
    color: rgba(0,0,0,0);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0);
    .transition(~"all linear .3s");
}

.bar-horizontal-part:hover .text {
    color: rgba(0,0,0,1);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.bar-horizontal-part-top .text {
    color: rgba(0,0,0,0);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0);
    .transition(~"all linear .3s");
}

.bar-horizontal-part-top:hover .text {
    color: rgba(0,0,0,1);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.hidden {
    display: none !important;
}